.git
.gitignore
.vscode
.idea
vendor
node_modules
npm-debug.log
yarn-error.log
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
.env
.env.*
Dockerfile
docker-compose*.yml
